<div class="mt-4 ml-10 rounded border-4 bg-blue-400 border-black p-10 border-solid inline-grid text-center content-center">
  {{#each posts}}
  <article class="p-0.5 rounded border-solid border-black border-4 bg-green-200">
    <div class="flex-row justify-between p-0.5 border-solid border-2 border-black rounded">
      <h2>
        <a href="/post/{{id}}">{{title}}</a>
      </h2>
      <div>
        Posted by {{User.username}} on {{format_date createdAt}}
      </div>
    </div>
    <div class="p-0.5">
      {{body}}
    </div>
  </article>
  {{/each}}
</div>